{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}


    <h1> Bienvenue cher prestataire !</h1>

    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}

    {{ form(form) }}


{% endblock %}
