{% extends 'base.html.twig' %}

{% block title %}Page membre{% endblock %}

{% block body %}


    <h1> Bienvenue !</h1>

    <h2> Completer votre profile </h2>

    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}

    {{ form(form) }}

{% endblock %}
