{% extends 'base.html.twig' %}

{% block title %}Trouver le bon prestataire{% endblock %}

{% block body %}

<style type="text/css">
    .example-wrapper {
        margin: 1em auto;
        max-width: 100%!important;
        width: 100%!important;
    }
</style>

<div class="body1">

    <div class="slideindex"> 
        <h1> Trouver le bon prestataire !</h1>
    </div>

</div>
{% endblock %}


